{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="about-section">
    
    <section class="imageVega">
    	<img src="{{ url(page.header.bgImage|keys|first) }}" alt="">
    </section>

    <section class="infoVega">
        <h1>{{ header.title }}</h1>
        <p class="about-vega">{{ header.description }}</p>
    </section>

</div>
{% endblock %}