{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="about">
	{{ page.content}}
    <section>

        <img src="{{ url(page.header.contactImage|keys|first) }}" alt="">
        <h1>{{ header.contactTitle }}</h1>
        <h2>{{ header.mail }}</h2>
    </section>
</div>
{% endblock %}