<div class="section">
	{{ page.content}}
    
        <h1>{{ page.header.title }}</h1>
        <p>{{ page.header.text }}</p>
        <a href="{{(header.downloadFile|first).path}}" download="">Download</a>
        
</div>
