<section>
    <h1>Cuidado de las piezas</h1>
</section>
<section>
    {% for maintenance in page.header.maintenance %}
    <img src="{{ (maintenance.icon|first).path }}" alt="">
    <div>
        <h2>{{maintenance.subtitle }}</h2>
        <p>{{ maintenance.description }}</p>
    </div>
    {% endfor %}
</section>